.addform {
    margin-left: 2%;
    margin-top: 2%;
}

#vlista {
    margin-top: 1%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#titlelist {
    margin-top: 1%;
    margin-left: 5%;
}