{% extends 'base.html' %}
{% block content %}
    <div class="addform">
        <h3>Ingresar Vehículo</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Marca:</label>
                <br>
                {{ form.marca }}
            </div>
            <div class="form-group mt-3">
                <label>Modelo:</label>
                <br>
                {{ form.modelo }}  
            </div>
            <div class="form-group mt-3">
                <label>Serial Carroceria:</label>
                <br>
                {{ form.serial_carroceria }}
            </div>
            <div class="form-group mt-3">
                <label>Serial Motor:</label>
                <br>
                {{ form.serial_motor }}
            </div>
            <div class="form-group mt-3">
                <label>Categoria:</label>
                <br>
                {{ form.categoria }}
            </div>
            <div class="form-group mt-3">
                <label>Precio:</label>
                <br>
                {{ form.precio }}
            </div>
            <input type="submit" class="btn btn-primary mt-3"></button>
        </form>
    </div>
{% endblock content %}